
<!-- 数据显示页 -->
<div class='container'>
	
	<div class='row pad_5 font_18' ng-hide='bill.exists' style='min-height: 500px;'>
		<section class='col-md-6 col-xs-12 text-muted fam' data-id='{{item.id}}' ng-repeat='item in bill.data' >
			<aside class='col-xs-6' title='{{item.showName}}' >{{item.showName|limitToStr}}</aside>
			<aside a-division class='col-xs-6' title='{{item.showContent}}' >
				<span ng-show='bill.id==4'>{{item.showContent}}</span>
				<a ng-show='!(bill.id==4)' class='text-muted' target='_blank' ng-href='{{item.showContent}}'>{{item.showContent|limitToStr:20}}</a>
			</aside>
		</section>
	</div>
	
	<div ng-hide='!bill.exists' class='text-warning'>
		<strong>抱歉还没有任何数据</strong>！
	</div>
	
	<!-- 页码 -->
	<!--<hz ng-model='page'>aaaa</hz>-->
	<div class='row' ng-class='{hide:!page.total||page.total==1}'> 
	
		<nav class='pagination center_block mar_tb_20'>
			<li>
				<a href='javascript:void(0);' ng-click='numPage("sign")'>
					<span aria-hidden='true'>
						&laquo;
					</span>
				</a>
			</li>
			
			<li ng-repeat='item in page.pages' ng-class='{active:item==page.initial}' >
				<a href='javascript:void(0);' ng-bind='item' ng-click='numPage(item)' ></a>
			</li>
			
			<li>
				<div class='page_href text-muted text-center' style='float:left;width:50px;height:34px;line-height:32px;border-top:1px rgba(220,220,220,1) solid;border-bottom:1px rgba(220,220,220,1) solid;' ng-bind-template='{{page.initial}}/{{page.total}}' contenteditable="true" ></div>
				<a href='javascript:void(0)' ng-click='numPage("jump")'>跳转</a>
			</li>
			<li>
				<a href='javascript:void(0)' ng-click='numPage("add")'>
					<span aria-hidden='true'>
						&raquo;
					</span>
				</a>
			</li>
		</nav>
	
	</div>
	
</div>





