
<!-- 首页 -->

<div class='container-fluid'>
	
	<!--<section class='index_sight over_h'>
		<ul class='index_sence rela'>
			<li class='index_item'>
				<img src="img/c1.jpg" alt='pic1' class='img-circle' />
			</li>
			<li class='index_item'>
				<img src="img/c2.jpg" alt='pic2' class='img-circle' />
			</li>
			<li class='index_item'>
				<img src="img/c3.jpg" alt='pic3' class='img-circle' />
			</li>
			<li class='index_item'>
				<img src="img/c4.jpg" alt='pic4' class='img-circle' />
			</li>
		</ul>
	</section>
	<section class='index_circle_sight rela'>
		<ul class='index_c_l'>
			<li class='index_c_v'></li>
		</ul>
		<ul class='index_c_r'>
			<li class='index_c_v'></li>
		</ul>
	</section>
	
	<script>
		(function($){
			// 排除 IE;
			if(((BrowserDetect.version==11||BrowserDetect.version==10)&&BrowserDetect.browser=='Mozilla')||BrowserDetect.browser=="Internet Explorer"){
				$('.index_sight,.index_circle_sight').remove();	
				return '';
			}
			$('.index_circle_sight').hover(
				function(){
					$('.index_c_l').addClass('index_c_l2');
					$('.index_c_r').addClass('index_c_r2');
				},
				function(){
					$('.index_c_l').removeClass('index_c_l2');
					$('.index_c_r').removeClass('index_c_r2');
				});
		})(jQuery);
	</script>-->
	
	<section class='form-group-lg col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 index_search'>
		<div class='input-group'>
			<input class='form-control' ng-focus='focusSearchData()' maxlength="120" placeholder='请输入关键字' ng-model='bill.searchData' />
			<a href='javascript:void(0);' class='input-group-addon fam' title='搜索' ng-click='submitSearchData()'>
			 	&nbsp;&nbsp;<span class='glyphicon glyphicon-search  font_24'></span>&nbsp;&nbsp;
			</a>
		</div>
	</section>
	
	<div class="alert alert-warning" role="alert" style='display:none;margin-top: 50px;'>
	  <strong>格式不正确:</strong>
	  <span class='fam' ng-bind='bill.searchWarning'></span>
	</div>
	
</div>

